{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Usted ha cerrado sesión correctamente</h2>
        <p>Va a ser redireccionado automaticamente en breve a la página de inicio.</p>
    </div>

    <script type="text/javascript">
        setTimeout(function(){ window.location.href = "/login";; }, 3000);
    </script>
{% endblock %}
