{% extends "base.html" %}
{% block content %}

    <h1 class = "center-align">Acceso a la Biblioteca del Departamento de Álgebra</h1>


    <div class="row">
        <div class="col s12 m4 offset-m4">
            <div id="login">
                <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="username"  placeholder="Username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col s12">
        {% if error %}
          <h4 class="center-align">{{error}}</h4>
        {% endif %}
      </div>
    </div>
{% endblock %}
