.crear {
  vertical-align: baseline;
  position: relative;
  top: 15px;
}

.devolver{
  float: right;
  background-color: #FE2E2E;
  border-radius: 0.3em;
  padding-right: 1px;
  padding-left: 1px;
  font-weight: 300;
}

.prestar{
  float: right;
  background-color: #3ADF00;
  border-radius: 0.3em;
  padding-right: 1px;
  padding-left: 1px;
  font-weight: 300;
}

li a{
  color: black;
}

.disabled{
  background-color: #C0C0C0;
}

#autofill{
  margin-top: 2.5em;
}
