{% extends "base.html" %}

{% block content %}

<div class="sw">
    <form method="get" autocomplete="off" action="/busqueda">
        <input type="search" name="palabra" id="search" placeholder="Buscar libros" />
    </form>
</div>

<table class="striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Estanteria</th>
      <th>Autor</th>
      <th>Estado</th>
      <th>Última persona</th>
    </tr>
  </thead>
  <tbody>
    {% for libro in libros %}
    <tr>
      <td>{{libro.titulo}}</td>
      <td>{{libro.clasificacion}}</td>
      <td>{{libro.autor}}</td>
      <th>{%if libro.estado %} Disponible {%else%}Lo tiene{%endif%}</th>
      <td>{{libro.prestamos.username}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock %}
