{% extends "base.html" %}

{% block content %}

<div class="sw">
    <form method="get" autocomplete="off" action="/busqueda">
        <input type="search" name="palabra" id="search" placeholder="Buscar libros" />
    </form>
</div>

<h4>Resultados para: {{palabra}}</h4>
{% include 'presentacion_libros.html' %}
</table>

{% if is_paginated %}
<br>
<hr>
<ul class="pagination">
    {% if page_obj.has_previous %}
      {% if search %}
        <li><a href="?palabra={{palabra}}&page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% else %}
        <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for page in page_obj.paginator.page_range|slice:":10"%}
      {% if search %}
        <li class="{% if page_obj.number == page  %}active  blue{% else %} waves-effect{% endif %}"><a href="?palabra={{palabra}}&page={{page }}">{{page}}</a></li>
      {% else %}
        <li class="{% if page_obj.number == page  %}active  blue{% else %} waves-effect{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      {% if search %}
        <li><a href="?palabra={{palabra}}&page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
    {% endif %}
 </ul>
 {% endif %}


{% endblock %}
