{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <table class="striped">
      <thead>
        <tr>
          <th>Número</th>
          <th>Segundo Número</th>
          <th>Letra</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        {% for casillero in lista_casilleros %}
        <tr>
          <td>{{casillero.numero}}</td>
          <td> {% if casillero.numero2%}{{casillero.numero2}}{% else %}-{% endif %}</td>
          <td>{% if casillero.letra %}{{casillero.letra}}{% else %}-{% endif %}</td>
          <td><a href="{% url 'libroscas' casillero.pk %}">{{casillero.descripcion}}</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endblock %}
