{% extends "base.html" %}{% load staticfiles %}
{% block head %}
<script type="text/javascript" src="{% static 'js/jspdf.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jspdf.plugin.autotable.js' %}"></script>
{% endblock %}
{% block content %}
<h3>Lista de libros del usuario {{usuario}}</h3>
{% include 'presentacion_libros.html' %}
<a onclick="javascript:save();" class="waves-effect waves-light btn">PDF</a>

{% if is_paginated %}
<br>
<hr>
<ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for page in page_obj.paginator.page_range|slice:":10"%}
        <li class="{% if page_obj.number == page  %}active  blue{% else %} waves-effect{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
 </ul>
 {% endif %}

<script type="text/javascript">

function save(){
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!

  var yyyy = today.getFullYear();
  if(dd<10){
      dd='0'+dd
  }
  if(mm<10){
      mm='0'+mm
  }
  var usuario = '{{libro.prestamos.username}}';
  var columns = [
    {title: "ID", dataKey: "id"},
    {title: "Nombre", dataKey: "name"},
    {title: "Estante", dataKey: "estante"},
    {title: "Signatura", dataKey: "signatura"},
    {title: "Autor", dataKey: "autor"},
  ]
  var rows = [
    {% for libro in libros %}
    {
      "id": '{{libro.identificador}}',
      "name": '{{libro.titulo}}',
      "estante": '{{libro.clasificacion}}',
      "signatura": '{{libro.etiqueta_completa}}',
      "autor": '{{libro.autor}}',
    },
    {% endfor %}
  ];
  var doc = new jsPDF('p', 'pt');
  doc.autoTable(columns, rows, {
      styles: {fillColor: [115, 115, 115],overflow: 'linebreak'},
      columnStyles: {
          id: {fillColor: 255, overflow: 'linebreak', columnWidth: 45},
          name: {fillColor: 255, overflow: 'linebreak', columnWidth: 180},
          estante: {fillColor: 255, overflow: 'linebreak',columnWidth: 50},
          signatura: {fillColor: 255, overflow: 'linebreak', columnWidth: 120},
          autor: {fillColor: 255, overflow: 'linebreak',columnWidth: 90}
      },
      margin: {top: 60},
      addPageContent: function(data) {
          doc.setFontSize(14);
          doc.text("Libros del usuario {{usuario}}. Generado automaticamente por buho a fecha: "+dd+'/'+mm+'/'+yyyy, 40, 30);
      }
  });
  doc.save('{{usuario}}.pdf');
}

//doc.text(20,20, "Libros del usuario " + usuario + ". Generado automaticamente por buho a fecha " + dd+'/'+mm+'/'+yyyy + "\n");
//doc.setFontSize(14);

</script>

{% endblock %}
