{% extends "base.html" %}
{% block content %}
<table class="striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Estantería</th>
      <th>Signatura    </th>
      <th>Autor</th>
      <th>Estado</th>
      <th>Última persona</th>
      <th>Accio</th>
      {% if request.user.is_staff %}<th>Editar</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for libro in libros %}
    <tr>
      <td>{{libro.titulo}}</td>
      <td>{{libro.clasificacion}}</td>
      <td>{{libro.etiqueta_completa}}</td>
      <td>{{libro.autor}}</td>
      <th>{%if libro.estado %} Disponible {%else%}Lo tiene{%endif%}</th>
      <td>{% if libro.prestamos.username != None %}{{libro.prestamos.username}}{% else %}Nunca retirado{% endif %}</td>
      <td><a href="{% url 'biblioteca-prestar' libro.identificador usuario %}"></a>Acción</td>
      <td><a href="{% url 'editar' libro.identificador %}">{% if request.user.is_staff %}<i class="material-icons">&#xE254;</i>{% endif %}</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
