{% extends "base.html" %}

{% block content %}

<h4>Lista de usuarios:</h4>
<table class="striped">
  <thead>
    <tr>
      <th>Mombre de usuario</th>
      <th>Ver libros</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <td>{{usuario.username}}</td>
      <td><a href="{% url 'biblioteca-user' usuario.username %}">Libros</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}
