{% extends "base.html" %}

{% block content %}
<form action="{% url 'password-change' %}" method="post" accept-charset="utf-8">
  {{ form.as_p }}
  {% csrf_token %}
  <!--<input type="submit" value="Cambiar password"/>-->
  <button class="btn waves-effect waves-light" type="submit">Cambiar password
      <i class="material-icons right">send</i>
    </button>
</form>
{% endblock %}
