{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--Import Google Icon Font-->
        <link href="{% static 'css/icon.css' %}" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/estados.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'css/minse.css' %}"  media="screen,projection"/>
        {% block head %}{% endblock %}
        <title>Biblioteca del Departamento de Álgebra</title>
    </head>
    <body>
        <header>
            <nav class="top-nav  blue darken-1">
                <div class="nav-wrapper">
                    <ul class="left hide-on-med-and-down">
                      <li><a href="/">Home</a></li>
                      <li>{% if not request.user.is_anonymous %}<a href="{%url 'casilleros' %}">Estanterías</a></li>{%endif%}
                      {% if request.user.is_staff %}<li><a href="{% url 'design' %}">Pegatinas</a></li>{% endif %}
                      {% if request.user.is_staff %}<li><a href="{% url 'usuarios' %}">Usuarios</a></li>{% endif %}
                      {% if request.user.is_authenticated %}<li><a href="{% url 'propios' %}">Mis libros</a></li>{% endif %}
                    </ul>
                    <a data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-button" href="#!">{{request.user.username}}{%if request.user.is_staff%} (Administrador){% endif %}</a></li>
                        <li><a href="{% url 'password-change' %}">Cambiar contraseña</a></li>
                        <li><a href="/logout">Cerrar sesión</a></li>
                        {% else %}
                        <li><a href="/login">Iniciar sesión</a></li>
                        {% endif %}
                        <!-- Dropdown Trigger -->
                    </ul>
                </div>
            </nav>

            <ul id="slide-out" class="side-nav" style="left: 0px;">

                {%if request.user.is_staff%}
                <li><a class="" href="{% url 'home' %}">Home</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Libros<i class="mdi-navigation-arrow-drop-down right"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{% url 'nuevoLibro' %}">Nuevo libro</a></li>
                                </ul>
                            </div>

                        </li>
                    </ul>
                </li>
                <li><a class="" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% else %}
                <li><a class="" href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}<li><a class="" href="{% url 'logout' %}">Cerrar Sesión</a></li>{% endif %}
                {% endif %}
            </ul>
        </header>

        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <script type="text/javascript">
             $(".button-collapse").sideNav();
        </script>
    </body>
</html>
