{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--Import Google Icon Font-->
        <link href="{% static 'css/icon.css' %}" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <link type="text/css" rel="stylesheet" href="{% static 'css/minse.css' %}"  media="screen,projection"/>

        <title></title>
    </head>
    <body>
        <header>

            <nav class="top-nav  blue darken-1">
                <div class="nav-wrapper">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                    <ul class="right hide-on-med-and-down">
                        {% if request.user.is_authenticated %}
                        <li><a class="dropdown-button" href="#!">{{request.user.username|title}}{%if request.user.is_staff%} (Administrador){% endif %}</a></li>
                        <li><a href="/logout">Cerrar sesión</a></li>
                        {% else %}
                        <li><a href="/login">Iniciar sesión</a></li>
                        {% endif %}
                        <!-- Dropdown Trigger -->
                    </ul>
                </div>
            </nav>

            {% if request.user.is_authenticated %}
            <ul id="slide-out" class="side-nav fixed" style="left: 0px;">
                {%if request.user.is_staff%}
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Libros<i class="mdi-navigation-arrow-drop-down right"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#!">Nuevo libro</a></li>
                                    <li><a href="#!">Buscar</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="#!">Second Sidebar Link</a></li>
                {% else %}
                <li><a href="#!">Second Sidebar Link</a></li>
            </ul>

            {% endif %}
            {% endif %}
        </header>

        <main>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        <script type="text/javascript">
             $(".button-collapse").sideNav();
        </script>
    </body>
</html>
