{% extends 'base.html' %}

{% block content %}


    <h3>¡Bienvenido {{ request.user }}!</h3><br>

    <div class="container">
        <div class="sw">
            <form method="get" autocomplete="off" action="/busqueda">
                <input type="search" name="palabra" id="search" placeholder="Buscar libros" />
            </form>
        </div>
    </div>
    {% if request.user.is_staff %}
    <h4>Libros</h4>
    <div class="row">
        <div class="col s12 m3">
            <a href="{% url 'nuevoLibro' %}" class="waves-effect waves-light btn">Nuevo libro</a>
        </div>
        <div class="col s12 m3">
            <a href= "{% url 'allbooks' %}" class="waves-effect waves-light btn">Todos los libros</a>
        </div>
    </div>

    <h4>Clasificación</h4>
    <div class="row">
        <div class="col s12 m3">
            <a class="waves-effect waves-light btn" id ="nuevo-casillero">Nuevo estante</a>
        </div>

        <div class="col s12 m3">
            <a class="waves-effect waves-light btn" href = "{% url 'casilleros' %}">Todos</a>
        </div>
    </div>

    <div class="row" id= "clasificacion-create-form">
        <form class="col s12" action="{% url 'casillero-nuevo' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s3">
                    <input placeholder="número" id="number" name="numero" type="number" class="validate">
                    <label for="number">Número</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="letra" id="letra" name = "letra" type="text" class="validate">
                    <label for="letra">Letra</label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="descripcion"id="descripcion" name = "descripcion" type="text" class="validate">
                    <label for="descripcion">Descripción</label>
                </div>
                <div class="col s3">
                    <button class="btn waves-effect waves-light crear" type="submit" name="action">Crear
                      <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>

    </div>

    {% endif %}
    <h4>Últimos libros agregados:</h4>
    {% include 'presentacion_libros.html' %}
    </table>
{% endblock %}
