{% extends 'base.html' %}
{% block content %}
<form action="{{request.get_full_path}}" method="post"  enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<button class="btn waves-effect waves-light" type="submit" name="action">Crear
    <i class="material-icons right">send</i>
  </button>
</form>
<script type="text/javascript">
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
{% endblock content %}
