{% extends "base.html" %}

{% block content %}

<div class="container">
  <h3>Establecer pegatinas</h3>
  <form action="/design/" method="post" id="form" onsubmit="return mySubmitFunction()">
  {% csrf_token %}
    <!-- Las llamamos por j[columnas] i [filas] -->
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="1" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="9" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="17" value="">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="2" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="10" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="18" value="">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="3" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="11" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="19" value="">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="4" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="12" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="20" value="">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="5" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="13" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="21" value="">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="6" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="14" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="22" value="">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="7" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="15" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="23" value="">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
          <input class = "input-field" type="integer" name="8" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="16" value="">
        </div>
        <div class="col m3 offset-m1">
          <input class = "input-field" type="integer" name="24" value="">
        </div>
    </div>
    <p>
      <input type="checkbox" id="test6" name="copy" checked="checked" onchange="status()"/>
        <label for="test6">Duplicar</label>
    </p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Crear
        <i class="material-icons right">send</i>
      </button>
  </form>
</div>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s8">
        <h2>Libros sin etiquetar</h2>
      </div>
      <div class="col s4">
        <button class="btn waves-effect waves-light" id ="autofill">Autocompletar
            <i class="material-icons right">add</i>
          </button>
      </div>
    </div>

    <table class="striped">
      <thead>
        <tr>
          <th>Identificador</th>
          <th>Titulo</th>
          <th>Estanteria</th>
          <th>Autor</th>
          <th>Estado</th>
          <th>Última persona</th>
          <th>Acción</th>
          {% if request.user.is_staff %}<th>Editar</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for libro in libros %}
        <tr>
          <td>{{libro.identificador}}</td>
          <td>{{libro.titulo}}</td>
          <td>{{libro.clasificacion}}</td>
          <td>{{libro.autor}}</td>
          <th>{%if libro.estado %} Disponible {%else%}Lo tiene{%endif%}</th>
          <td>{% if libro.prestamos.last != None %}{{libro.prestamos.last}}{% else %}Nunca retirado{% endif %}</td>
          <td><a href="/prestar/{{libro.identificador}}">Tomar prestado</a>
            {% if not libro.estado and request.user.is_staff %} <a href="/devolver/{{libro.identificador}}">Devolver</a>{%endif%}</td>
          <td><a href="{% url 'editar' libro.identificador %}">{% if request.user.is_staff %}<i class="material-icons">&#xE254;</i>{% endif %}</a></td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  //Duplicar
  var status_id = 1
  function disable(){
    for(i = 2;i <=24; i+=2){
      $('input[name="%s"]'.replace("%s", i.toString())).prop('disabled', true).addClass("disabled");
    }
  }

  function enable(){
    for(i = 2;i <=24; i+=2){
      $('input[name="%s"]'.replace("%s", i.toString())).prop('disabled', false).removeClass("disabled");
    }
  }
  function status(){
    if (status_id === 1){
      enable()
      status_id = 0
    }
    else{
      disable()
      status_id = 1
    }
  }

  function check(){
    return $("#form input").filter(function() {
      return !this.value;
    }).length
  }


  function mySubmitFunction()
  {
    if (check() < 12 && status_id == 1){
      console.log("not ok")
      return false;
    }
    else {
      console.log("ok")
    }
  }

  //Json para auto_fill

  {% autoescape off %}
  var json_list = $.parseJSON( '{{ libros_json }}' );
  {% endautoescape %}

  $("#autofill").click(function(){
    var first = 1
    if (status_id === 1){
      if (Object.keys(json_list).length > 12){
        var counter = 1;
        $.each(json_list, function(i, item) {
          while(counter <= 12){
            $('input[name="%s"]'.replace("%s", first)).val(item);
            first += 2;
            counter +=1;
          }
        });
      }
      else{
        $.each(json_list, function(i, item) {
            $('input[name="%s"]'.replace("%s", first)).val(item);
            first += 2;
        });
      }

    }
    else{
      if (Object.keys(json_list).length > 24){
        $.each(json_list, function(i, item) {
          while(counter <= 24){
            $('input[name="%s"]'.replace("%s", first)).val(item);
            first += 1;
          }
        });
      }
      else{
        $.each(json_list, function(i, item) {
            $('input[name="%s"]'.replace("%s", first)).val(item);
            first += 1;
        });
      }
    }

    first = 1

  });



  $(document).ready(function() {
    disable();
  });

</script>

{% endblock content %}
