<div id="books">
  <table class="striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>identificador</th>
        <th>Estantería</th>
        <th>Signatura    </th>
        <th>Autor</th>
        <th>Estado</th>
        <th>Última persona</th>
        {% if request.user.is_staff %}<th>Acción</th>{% endif %}
        {% if request.user.is_staff %}<th>Editar</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for libro in libros %}
      <tr>
        <td>{{libro.titulo}}</td>
        <td>{{libro.identificador}}</td>
        <td>{{libro.clasificacion}}</td>
        <td>{{libro.etiqueta_completa}}</td>
        <td>{{libro.autor}}</td>
        <th>{%if libro.estado %} Disponible {%else%}Lo tiene{%endif%}</th>
        <td>{% if libro.prestamos.username != None %}{{libro.prestamos.username}}{% else %}Nunca retirado{% endif %}</td>
        <td><a href="/prestar/{{libro.identificador}}">Tomar prestado</a>
          {% if not libro.estado and request.user.is_staff %} <a href="/devolver/{{libro.identificador}}">Devolver</a>{%endif%}</td>
        <td><a href="{% url 'editar' libro.identificador %}">{% if request.user.is_staff %}<i class="material-icons">&#xE254;</i>{% endif %}</a></td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
