{% extends 'base.html' %}
{%block content%}
  <div class="row">
    <div class="col s12 m12 center-align">
      <h2>¿Desea {{operacion}} el libro {{libro.titulo}} ?</h2>

      <form class="" action="/{{url}}/{{libro.identificador}}/" method="post">{% csrf_token %}
        {% if request.user.is_staff and operacion == "coger"%}
        <div class="row">
          <div class="col s12 m4 offset-m4">
            <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Usuarios</a>
            <ul id='dropdown1' class='dropdown-content'>
              {% for usuario in usuarios  %}
                <li><a href="{% url 'biblioteca-prestar' libro.identificador usuario.username %}">{{usuario.username}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% else %}
        <div class="row">
          <div class="col s12 m4 offset-m4">
            <input type="checkbox" class="filled-in" name="verification" id="verification">
            <label for="verification"> Marque la casilla para confirmar. </label>
          </div>
        </div>
        {% endif %}
        <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
      </form>
    </div>
  </div>


{% endblock %}
