{% extends 'base.html' %}
{%block content%}
  <div class="row">
    <div class="col s12 m12 center-align">
      <h2>¿Desea {{operacion}} el libro {{libro.titulo}} ?</h2>

      <form class="" action="/biblioteca/prestar/{{libro.identificador}}/{{usuario}}/" method="post">{% csrf_token %}
        <div class="row">
          <div class="col s12 m4 offset-m4">
            <input type="checkbox" class="filled-in" name="verification" id="verification">
            <label for="verification"> Marque la casilla para confirmar. </label>
          </div>
        </div>


        <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
      </form>
    </div>
  </div>


{% endblock %}
